.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.account-information label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.account-information input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
