.actions button {
  background: lightgreen;
  border: none;
  padding: 10px 20px;
}

.actions span {
  align-self: center;
}

/* .home-link {
  margin-bottom: 20px;
}
.home-link a {
  text-decoration: none;
  color: green;
  font-weight: bold;
} */

.PostsList {
  font-family: Arial, sans-serif;
  /* Profile - 3 */

  position: relative;
  width: 393px;
  height: 852px;

  background: #ffffff;
}

.post-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.post-header h3 {
  display: inline-block;
  margin-right: 10px;
}

.post-header span {
  float: right;
  color: grey;
}

.roles button {
  background: #e0e0e0;
  border: none;
  margin-right: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.posts-list > div {
  cursor: pointer;
}
