.profile-page {
  font-family: Arial, sans-serif;
  /* Profile - 3 */

  position: relative;
  width: 393px;
  height: 852px;

  background: #ffffff;
}

.header {
  color: white;
  padding: 10px;
  text-align: center;
  /* Rectangle 2 */

  position: absolute;
  width: 393px;
  height: 46px;
  left: 0px;
  /* top: 44px; */

  background: #0e442a;
}

.profile-card {
  top: 80px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 300px; /* 카드의 폭 설정 */
  height: 200px; /* 카드의 높이 설정 */
  margin: 20px auto; /* 페이지 중앙 정렬 */
  background: #eeeeee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.profile-pic {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 148px;
  top: 25px;
  background-image: url("/Users/ahnsaeyeon/Desktop/SKKU_RECRUIT/skku_recruit/src/asset/image/Ellipse6.png"); /* 이미지 경로 확인 필요 */
  background-size: cover; /* 이미지가 div 크기에 맞게 조절됨 */
  background-position: center; /* 이미지가 div 중앙에 위치하도록 */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile-info h2 {
  margin: 10px 0 5px;
}

.profile-info p {
  color: #666;
  font-size: 14px;
}

.profile-actions button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.profile-actions button:hover {
  background-color: #45a049;
}

.profile-section {
  padding: 20% 0;
  text-align: center;
}

.profile-info {
  padding: 10px 0;
  text-align: center;
}

.info-section {
  padding: 70px 20px;
  margin-bottom: 30px;
}

.profile-edit img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-edit {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background: #f8f8f8; /* 적당한 배경색 */
  border-radius: 25px; /* 둥근 테두리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
